<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A pool for staking coins and masternodes </h2>
                <hr class="light">
                <p class="text-faded">bla bla bla</p>
                <a href="https://docs.google.com/spreadsheets/d/1kalWS1OK_WVXvg8RzOfllSlLdDR8VPruXwch9Mz4Zgc" class="btn btn-default btn-xl">Our portfolio</a>
            </div>
        </div>
    </div>
</section>
