<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A pool for staking coins and masternodes </h2>
                <hr class="light">
                <p class="text-faded">bla bla bla</p>
                <p class="text-faded">Our portfolio is actually valuated at <span class="pfvalue"></span>$</p>
                <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRd5Oy3lmr9HuCQ2yl9zUOgz6bOWkWJIX6wXZ1b6_o35UBbabAohXllx-9rWkIG_slEjperS6FBwZ1T/pubhtml?gid=0&single=true" class="btn btn-default btn-xl">Our portfolio</a>
            </div>
        </div>
    </div>
</section>
