<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Contacts</h2>
        <hr class="primary">
        <p>You can follow us on Twitter, write us an email, or join our telegram channel !</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 text-center">
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>
      <div class="col-xs-6 text-center">
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="https://t.me/joinchat/{{ site.telegram }}">
          <i class="fa fa-telegram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>
    </div>
</section>
