<section class="no-padding" id="twitter">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Last news</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-center">

      <div class="col-4 text-center">
        {% twitter https://twitter.com/POSMiningCo/timelines/994184026243125248 limit=3 widget_type=grid max-width=30% align=center chrome="nofooter nheader noborder transparent noscrollbar" %}
      </div> 
    </div>
  </div>
</section>
